.card{
    display: flex;
    flex-direction: column;
    background-color: rgba(41, 27, 233, 0.842);
    border: 2px solid rgb(209, 155, 8);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 4px;
   width: 10px;
   
}

body{
    background-color: #dae0e6;
}

.card-title{
    font-size: x-large;
    font-weight: bold;
}

.subreddit-list{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header-upper-div{
    border: 1px solid black;
}

.header-lower-div{
    border: 1px solid black;
}

.main-container{
    display:flex;
    flex-direction: column;
    width: 33%;
    justify-content: space-between;
}